.save-game-card-container {
    border: 1px solid rgb(14, 17, 71);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-name {
    color: rgb(183, 0, 255);

.location {
    color: rgb(35, 121, 35);
}

.update-hero-button {
    background-color: rgb(255, 165, 0);
    color: #6f1b1b;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.update-hero-button:hover {
    background-color: rgb(255, 140, 0);
}
}
