.character-selection-container {
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    padding: 20px;
    margin-top: 50px;
}

h1 {
    margin-top: 0;
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.error-message {
    color: var(--error-text-color);
    margin: 10px 0;
}

.add-hero-button {
    font-family: 'MedievalSharp', cursive;
    background-color: #8b5a2b;
    color: #fff4e6;
    border: 2px solid #3e2723;
    border-radius: 0;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}

.add-hero-button:hover {
    background-color: #a0522d;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}
