body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: rgb(128, 128, 128);
    text-align: center;
}

.save-game-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.save-game-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    transition: background-color 0.3s ease;
}

.save-game-card:hover {
    background-color: #f0f0f0;
}
