@font-face {
    font-family: 'HyliaSerifBeta';
    src: url('../../fonts/HyliaSerifBeta-Regular.otf') format('opentype');
}

.character-selection-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.error-message {
    color: var(--error-text-color);
    margin: 10px 0;
}

.zelda-title {
    font-family: 'HyliaSerifBeta', cursive;
    color: #DAA520;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    letter-spacing: 0.1em;
    font-size: 4em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}


